
/* ==========================================================================
   Other
   ========================================================================== */
.container-fluid
	max-width: 1570px

.icon
	display: inline-block
	width: 1em
	height: 1em
	stroke-width: 0
	stroke: currentColor
	fill: currentColor



/* ==========================================================================
   Padding, margin etc.
   ========================================================================== */
.pt-80
	padding-top: 80px
.pb-80
	padding-bottom: 80px



/* ==========================================================================
   Title
   ========================================================================== */
.title
	display: block
	color: $white
	> span
		color: $accent
.title-xl
	font-size: 50px
	line-height: 1.4
.title-lg
	font-size: 40px
	line-height: 1.25
.title-md
	font-size: 26px
.title-sm
	font-size: 20px



/* ==========================================================================
   Text
   ========================================================================== */
.text-sm
	font-size: 16px
.text-xs
	font-size: 15px
.text-xss
	font-size: 14px

.text-uppercase
	text-transform: uppercase
.text-center
	text-align: center



/* ==========================================================================
   Font weight
   ========================================================================== */
.w-light
	font-weight: 300
.w-regular
	font-weight: 400
.w-medium
	font-weight: 500
.w-semibold
	font-weight: 600
.w-bold
	font-weight: 700
.w-extrabold
	font-weight: 800
.w-black
	font-weight: 900