/* ==========================================================================
   Links
   ========================================================================== */
.line-link
	position: relative
	display: inline-flex
	align-items: center
	margin-top: 30px
	padding-bottom: 8px
	padding-right: 26px
	color: $white
	font-size: 20px
	font-weight: $font-regular
	line-height: 1
	transition: .45s ease
	background-image: url('../images/icons/arrow-accent.svg')
	background-repeat: no-repeat
	background-position: 100% 26%
	background-size: cover
	background-size: 13px
	&::before,
	&::after
		content: ''
		position: absolute
		top: 100%
		left: 0
		right: 0
		height: 2px
	&::before
		width: 100%
		background: rgba($white, 0.05)
	&::after
		width: 25px
		background: $white
		transition: .45s ease
	&:hover
		color: $white
		&::after
			width: 100%
			background: $accent



/* ==========================================================================
   Hamburger menu
   ========================================================================== */
.hamburger
	padding: 15px 15px
	display: inline-block
	cursor: pointer
	transition-property: opacity, filter
	transition-duration: 0.15s
	transition-timing-function: linear
	font: inherit
	color: inherit
	text-transform: none
	background-color: transparent
	border: 0
	margin: 0
	overflow: visible
	&.is-active .hamburger-inner,
	&.is-active .hamburger-inner::before,
	&.is-active .hamburger-inner::after
		background-color: $accent

.hamburger-box
	width: 50px
	height: 27px
	display: flex
	position: relative

.hamburger-inner
	display: block
	top: 50%
	margin-top: -1px
	width: 50px
	&::before,
	&::after
		width: 30px
	&,
	&::before,
	&::after
		position: absolute
		height: 2px
		background-color: $accent
		transition-property: transform
		transition-duration: 0.45s
		transition-timing-function: ease
	&::before,
	&::after
		content: ''
		left: 50%
		margin-left: -15px
		display: block
	&::before
		top: -12px
	&::after
		bottom: -12px

// When hover on button
.hamburger--arrow-r:hover .hamburger-inner::before
	transform: translate3d(18px, 5px, 0) rotate(45deg) scale(0.7, 1)
.hamburger--arrow-r:hover .hamburger-inner::after
	transform: translate3d(18px, -5px, 0) rotate(-45deg) scale(0.7, 1)

// When open menu
.hamburger--arrow-r.is-active .hamburger-inner::before
	transform: translate3d(-18px, 5px, 0) rotate(-45deg) scale(0.7, 1)
.hamburger--arrow-r.is-active .hamburger-inner::after
	transform: translate3d(-18px, -5px, 0) rotate(45deg) scale(0.7, 1)



/* ==========================================================================
   Buttons
   ========================================================================== */
.btn
	display: inline-flex
	padding: 20px 36px
	border: 1px solid $trsp
	font-size: 14px
	font-weight: $font-regular
	line-height: 1
	text-transform: uppercase
	transition: .45s ease
	&-icon
		position: relative
		&::after
			content: ''
			display: inline-block
			width: 12px
			height: 12px
			margin-left: 10px
			background-repeat: no-repeat
			background-position-y: center
			background-size: cover
			transform: none
			transition: transform .45s ease
		&:hover::after
			transform: translateX(4px)
		&-key
			position: relative
			align-items: center
			&::before
				content: ''
				display: inline-block
				width: 16px
				height: 16px
				margin-right: 10px
				background-image: url('../images/icons/key.svg')
				background-repeat: no-repeat
				background-position-y: center
				background-size: 100%
				transform: none
				transition: transform .45s ease
	&-primary
		box-shadow: 0 0 0 2px rgba($border-accent, 0.6)
		background-color: $accent
		color: $text-dark
		&:hover
			box-shadow: 0 0 0 2px rgba($white, 0.4)
			background-color: $white
			color: $text-dark
		&.btn-icon::after
			background-image: url('../images/icons/arrow.svg')
	&-outline
		box-shadow: 0 0 0 2px rgba($white, 0.15)
		background: $dark
		color: $white
		&:active
			border: 1px solid rgba($white, 0.15)
		&:hover
			background: $item-bg
		&.btn-icon::after
			background-image: url('../images/icons/arrow-white.svg')
	&-link-icon
		position: relative
		display: inline-flex
		align-items: center
		padding-bottom: 10px
		padding-left: 26px
		color: $white
		font-size: 16px
		font-weight: $font-light
		line-height: 1
		text-transform: uppercase
		transition: .45s ease
		background-repeat: no-repeat
		background-position: 2px 0
		background-size: cover
		background-size: 16px
		&::before,
		&::after
			content: ''
			position: absolute
			top: 100%
			left: 0
			right: 0
			height: 2px
		&::before
			width: 100%
			background: rgba($white, 0.05)
		&::after
			width: 20px
			background: $accent
			transition: .45s ease
		&:hover
			color: $white
			&::after
				width: 100%
		&-call
			background-image: url('../images/icons/phone-accent.svg')
		&-question
			background-image: url('../images/icons/question-accent.svg')




/* ==========================================================================
   Form
   ========================================================================== */
.form
	&-row
		display: flex
		justify-content: space-between
		margin-left: -10px
		margin-right: -10px
		> .col,
		> [class*=col-]
			padding-right: 10px
			padding-left: 10px
	&-control
		display: block
		width: 100%
		height: 56px
		margin-bottom: 20px
		padding: 0 30px
		border-radius: 0
		border: 1px solid rgba($white, 0.15)
		background-color: $dark
		background-clip: padding-box
		font-size: 15px
		font-weight: 400
		line-height: 1
		color: $white
		transition: border-color .3s ease-in-out, box-shadow .3s ease-in-out
	&-text
		color: rgba($white, 0.3)



/* ==========================================================================
   Section, Row
   ========================================================================== */
.row-items
	[class*="col-"]
		margin-top: 30px

.section
	position: relative
	margin: 160px 0
	&-dark
		background: $dark
	&-head
		margin-bottom: 30px
		&-title
			font-size: 40px
			color: $white
			font-weight: $font-medium
			text-transform: uppercase
			> span
				display: block
				color: $accent
				font-size: 26px
				font-weight: $font-regular
		&-descr
			position: relative
			padding-left: 50px
			&::before
				content: ''
				position: absolute
				top: 0
				left: -11px
				width: 2px
				height: 100%
				background: $accent



/* ==========================================================================
   Background Text, Pattern
   ========================================================================== */
.bg
	&-pattern
		position: relative
		&::before
			content: ''
			position: absolute
			top: 0
			left: 0
			right: 0
			bottom: 0
			background-image: url('../images/dest/ozon_pattern-white.png')
			opacity: 0.01
	&-text
		user-select: none
		position: absolute
		top: 0
		left: 0
		right: 0
		z-index: -1
		-webkit-text-stroke: 1px $white
		text-shadow: 1px 1px 0 $white, -1px -1px 0 $white, 1px -1px 0 $white, -1px 1px 0 $white, 1px 1px 0 $white
		color: $text-dark
		// font-size: 30vw
		// font-size: 60vh
		font-size: 500px
		font-weight: $font-bold
		line-height: 0.85
		text-align: center
		text-transform: uppercase
		white-space: nowrap
		opacity: 0.04



/* ==========================================================================
   <ul> list
   ========================================================================== */
.list-group
	margin-bottom: 20px
	> li
		position: relative
		margin-top: 6px
		padding-left: 20px
		line-height: 1.4
		&::before
			content: ''
			position: absolute
			top: 12px
			left: 0
			width: 10px
			height: 1px
			background: $text-main
	&-square
		> li
			&::before
				top: 10px
				left: 2px
				width: 5px
				height: 5px
				background: $accent


/* ==========================================================================
   Card
   ========================================================================== */
.card
	position: relative
	display: flex
	flex-direction: column
	height: 100%
	border: 1px solid $border
	background: $item-bg
	&-head
		padding: 30px 50px
	&-image
		position: relative
		width: 100%
		height: 370px
		img
			width: 100%
			height: 100%
			object-fit: cover
	&-body
		padding: 40px 50px



/* ==========================================================================
   Swiper customize
   ========================================================================== */
.swiper-lazy-preloader-white
	opacity: 0.25

.swiper-button
	&-prev,
	&-next
		outline: none
		width: 50px
		height: 50px
		border: 1px solid $border
		background-color: $item-bg
		background-image: url('../images/icons/arrow-white.svg')
		background-repeat: no-repeat
		background-position: center
		background-size: 16px
		transition: background-color .45s ease
		&::after
			display: none
		&:hover
			background-color: $dark
	&-prev
		transform: rotate(-180deg)

.swiper-container-horizontal
	> .swiper-scrollbar
		position: static
		width: 100%
		height: 4px
		margin-top: 30px
.swiper-scrollbar-drag
	border-radius: 0
	background: $accent

.swiper-pagination-bullet
	width: 6px
	height: 6px
	&-active
		width: 8px
		height: 8px
		background: $text-dark



/* ==========================================================================
   Fancybox customize
   ========================================================================== */
.fancybox-thumbs
	top: auto
	left: 0
	right: 0
	bottom: 0
	width: 100%
	background: $trsp
.fancybox-thumbs__list
	margin: 0 auto
	a:before
		border: 4px solid $accent
.fancybox-show-thumbs .fancybox-inner
	right: 0
	bottom: 95px



/* ==========================================================================
   Modal Bootstrap
   ========================================================================== */
.modal
	&-xl
		max-width: 1400px
	&-content
		padding: 60px
		border-radius: 0
		border: 0
		background: $item-bg
	&-header
		padding: 0
		border-bottom: 0
		.close
			position: relative
			width: 60px
			height: 60px
			margin: 0
			padding: 0
			> span
				position: absolute
				left: 50%
				display: block
				width: 30px
				height: 1px
				margin-left: -15px
				background: $text-dark
				&:nth-child(1)
					transform: rotate(-45deg)
				&:nth-child(2)
					transform: rotate(45deg)
			&:hover
				background-color: $accent
			&:active
				transform: scale(0.95, 0.95)
	&-title
		padding-top: 10px
	&-body
		padding: 0
		padding-top: 60px
	&-fancy
		display: flex
		flex-wrap: wrap
		&-item
			display: block
			width: 140px
			height: 100px
			margin-bottom: 16px
			border-bottom: 4px solid $trsp
			&:not(:last-child)
				margin-right: 20px
			&:hover
				border-color: $accent
			> img
				width: 100%
				height: 100%
				object-fit: cover
	&-text
		position: relative
		margin-top: 10px
		padding-right: 20px
	&-backdrop
		background: $darken
		&.show
			opacity: 0.9



/* ==========================================================================
   Smooth Scrollbar
   ========================================================================== */
.smooth-scroll
	.scrollbar-track
		background: rgba($white, 0.05)
	.scrollbar-thumb
		border-radius: 0
		background: $accent