@import config
@import base
@import components

/* ==========================================================================
   Site Aside (menu)
   ========================================================================== */
.site-aside
	position: fixed
	top: 0
	left: 0
	z-index: 10
	display: flex
	flex-direction: column
	align-items: center
	justify-content: space-between
	width: 150px
	height: 100vh
	padding: 75px 0
	background: #151515
	border-right: 1px solid rgba($border, 0.5)
	.social
		&-list
			display: flex
			flex-direction: column
			align-items: center
		&-item
			line-height: 1
			&:not(:first-child)
				margin-top: 30px
			> a
				color: #5a5c5f
				font-size: 22px
				&:hover
					color: $accent



/* ==========================================================================
   Site Main (content)
   ========================================================================== */
.site-main
	position: relative
	margin-left: 150px



/* ==========================================================================
   Site Header
   ========================================================================== */
.site-header
	position: absolute
	top: 70px
	left: 0
	right: 0
	z-index: 3
	width: 100%
	&-wrapper
		display: flex
		justify-content: space-between
	.info-block
		&_phone
			text-align: right
		.title
			font-weight: $font-light
		.adress
			color: $white
			font-size: 22px
			font-weight: $font-medium
		.phone
			display: flex
			flex-direction: column
			> a
				display: inline-block
				font-size: 22px
				font-weight: $font-medium
		.link
			display: inline-block
			margin-top: 8px
			color: $accent
			font-size: 18px
			font-weight: $font-medium
			&:hover
				opacity: 0.75



/* ==========================================================================
   Site Footer
   ========================================================================== */
.site-footer
	



/* ==========================================================================
   Home section: Heroes
   ========================================================================== */
.h-heroes
	height: 100vh
	min-height: 900px
	&-slider
		width: 100%
		height: 100%
		// Animation on active slide
		.swiper-slide-active
			.h-heroes-slide-content
				.title
					animation: fromLeft 1.5s 0.25s both
				.descr
					animation: fromLeft 1.5s 0.5s both
				.btn
					animation: fromLeft 1.8s 0.75s both
				.slide-number
					opacity: 0.15
			.h-heroes-slide-photo
				opacity: 1
		// Slider pagination
		.swiper-pagination-bullets
			right: 0
			bottom: 90px
			text-align: left
			.swiper-pagination-bullet
				position: relative
				display: inline-block
				width: auto
				height: auto
				margin: 0
				background: $trsp
				text-align: left
				outline: 0
				opacity: 0.5
				transition: .45s ease
				&::before
					content: ''
					position: absolute
					left: 0
					right: 0
					bottom: 0
					z-index: 1
					display: block
					width: 100%
					height: 3px
					background: rgba($white, 0.15)
					opacity: 0
					transition: opacity .45s ease
				&:not(:first-child)
					margin-left: 60px
				&:hover:not(.swiper-pagination-bullet-active)
					opacity: 0.75
				&-active
					opacity: 1
					&:before
						opacity: 1
					.progress
						animation-name: animatePagination
						// animation-delay: 0.25s
						animation-duration: 5s
						animation-timing-function: linear
						animation-fill-mode: both
				.current
					display: block
					margin-bottom: 8px
					color: $white
					font-size: 18px
					line-height: 1
				.title
					display: block
					// overflow: hidden
					// max-width: 200px
					// white-space: nowrap
					// text-overflow: ellipsis
					font-size: 20px
					font-weight: $font-light
					line-height: 1
					text-transform: none
				.progress
					display: block
					height: 3px
					margin-top: 10px
					background: $accent
					transform: scaleX(0)
					transform-origin: left center
	// Slider slide
	&-slide
		position: relative
		background-color: #222
		// Slider content
		&-content
			position: relative
			display: flex
			flex-direction: column
			justify-content: center
			height: 100%
			padding-left: 25px
			.title
				max-width: 75%
				margin-bottom: 10px
				font-size: 70px
				font-weight: $font-bold
				line-height: 1
				text-transform: none
			.descr
				max-width: 70%
				margin-bottom: 40px
				color: $white
				font-size: 20px
			.slide-number
				user-select: none
				position: absolute
				top: 50%
				right: 0
				color: $text-dark
				font-size: 300px
				font-weight: $font-bold
				line-height: 1
				-webkit-text-stroke: 1px $white
				text-shadow: 1px 1px 0 $white, -1px -1px 0 $white, 1px -1px 0 $white, -1px 1px 0 $white, 1px 1px 0 $white
				opacity: 0
				transform: translateY(-50%)
				transition: opacity 2s ease
		// Slider background photo
		&-photo
			position: absolute
			top: 0
			left: 0
			right: 0
			bottom: 0
			z-index: 0
			display: block
			width: 100%
			height: 100%
			background-repeat: no-repeat
			background-size: cover
			background-position: center
			opacity: 0.6
			transition: opacity 0.5s linear
			&::before
				content: ''
				position: absolute
				top: 0
				left: 0
				right: 0
				bottom: 0
				z-index: -1
				background: rgba(0,0,0, 0.6)



/* ==========================================================================
   Home section: Promo
   ========================================================================== */
.h-promo
	margin: 130px 0
	&-wrapper
		position: relative
		overflow: hidden
		height: 445px
		position: relative
		border: 1px solid $border
		&::before
			content: ''
			position: absolute
			top: 0
			left: 0
			right: 0
			bottom: 0
			z-index: 0
			background: rgba(#222, 0.75)
	&-content
		position: absolute
		top: 50%
		left: 0
		right: 0
		width: 100%
		margin: 0 auto
		text-align: center
		transform: translateY(-50%)
		.title
			margin-bottom: 30px
			font-weight: $font-bold
			text-transform: uppercase
			> span
				display: block
				font-size: 26px
				font-weight: $font-regular
	&-photo
		width: 100%
		height: 100%
		object-fit: cover



/* ==========================================================================
   Home section: About
   ========================================================================== */
.h-about
	.bg-text
		top: 110px
	&-photo
		width: 100%
		height: 550px
		img
			width: 100%
			height: 100%
			object-fit: cover
	&-content
		margin-top: 50px
		.title
			margin-bottom: 30px
			text-transform: none
		.descr
			max-width: 545px



/* ==========================================================================
   Home section: Features
   ========================================================================== */
.h-features
	&-item
		margin-bottom: 80px
	&-head
		display: flex
		align-items: center
		margin-bottom: 15px
		.icon
			flex: 0 0 auto
			fill: $accent
			font-size: 50px
		.title
			padding-left: 30px
	&-content
		border-left: 2px solid $border
		margin-left: 24px
		padding-left: 20px
		.descr
			padding-left: 34px
			line-height: 27px
			// line-height: 1.5


/* ==========================================================================
   Home section: Advantages
   ========================================================================== */
.h-advantages
	&-item
		padding: 40px 50px
	&-head
		display: flex
		align-items: center
		justify-content: space-between
		margin-bottom: 20px
		.number
			-webkit-text-stroke: 2px $accent
			text-shadow: 1px 1px 0 $accent, -1px -1px 0 $accent, 1px -1px 0 $accent, -1px 1px 0 $accent, 1px 1px 0 $accent
			color: $text-dark
			font-size: 80px
			font-weight: $font-bold
			line-height: 1
		.picture
			overflow: hidden
			width: 100px
			height: 100px
			border-radius: 100%
			border: 2px solid #6b6b6b
			img
				width: 100%
				height: 100%
				object-fit: cover
	&-content
		.title
			margin-bottom: 30px
		.descr
			> p
				margin-top: 10px
		.link
			margin-top: 30px


/* ==========================================================================
   Home section: Gallery
   ========================================================================== */
.h-gallery
	&-item
		will-change: transform
		transform: none
		&:hover
			box-shadow: 0 5px 5px 0 rgba($dark, 0.5)
			transform: translateY(-10px)
	&-content
		display: flex
		align-items: center
		justify-content: space-between
		.title
			font-weight: $font-regular
			line-height: 1
		.count
			display: inline-flex
			align-items: center
			.icon
				margin-right: 8px
				fill: $accent
				font-size: 18px
			&-number
				display: inline-block
				color: $white
				font-weight: $font-medium
				line-height: 1



/* ==========================================================================
   CTA
   ========================================================================== */
.cta
	&-title
		max-width: 90%



/* ==========================================================================
   Home section: Houses
   ========================================================================== */
.h-houses
	&-head
		.price
			display: block
			color: $accent
			font-weight: $font-regular
			i
				font-style: normal
	&-meta
		&-list
			display: flex
			flex-wrap: wrap
			margin-bottom: 20px
			> li
				flex-basis: 50%
				margin-bottom: 20px
				color: rgba($white, 0.5)
				line-height: 1.35
				em
					display: block
					color: $white
					font-style: normal



/* ==========================================================================
   Home section: Construction
   ========================================================================== */
.h-construction
	overflow: hidden
	&-slider
		overflow: visible
		.swiper-lazy
			opacity: 0
			transition: opacity .45s ease
			&-loaded
				opacity: 1
	&-content
		display: flex
		justify-content: space-between
		.count
			display: inline-flex
			align-items: center
			.icon
				margin-right: 8px
				fill: $accent
				font-size: 18px
			&-number
				display: inline-block
				color: $white
				font-weight: $font-medium
				line-height: 1
